html {
    font-size: 62.5%;
    
}

:root {
    --beige: #F1EDE7;
    --black: #1b1b1a;
    --white: #FCFAF8;
    --pink: #E8D3CC;
    --brown: #AD7851;
}

body {
    background-color: var(--beige);
    color: var(--black);
    
     
}

.button {
    background-color: var(--brown);
    color: var(--white);
    font-family: 'Red rose', sans-serif;
    border-radius: 0.5rem;
    padding: 0.5em;
    /* margin-left: 1rem; */
    border: none;
    box-shadow: rgba(0, 0, 0, 0.5) 0 4px 2.6px;
}
