#root {
    height: 100vh;
}

.upper-container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-55 {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}



.hello {
    width: 300px;
    border: none;
    box-shadow: none;
    height: 100px;
    cursor: pointer;
    border-radius: 1.5rem;
}

.hello:hover {
    color: greenyellow;
}