.footer {
    
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
}

.top {
    background-color: var(--beige);
    width: 100%;
    min-height: 7rem;
}
.bottom {
    background-color: var(--black);
    width: 100%;
    display: flex;
    justify-content: center; 
    align-items: center;
    
    
}
.silhoutte p {
    text-align: center;
    color: var(--white);
    padding: 3rem;
    font-family: 'Mulish', sans-serif;
    font-size: 1rem;
}
.silhoutte img {
    margin-top: -6rem;
}
  
  
