

.header {
    display: flex;
    justify-content: space-between;
    background-color: #EEE6DA;
    flex-direction: row;
    position: relative;
    min-height: 8rem;
  }
  
  .language {
    display: flex;
    flex-direction: row;
    margin-left: 1rem;
    gap: 10rem;
    align-items: center;
  }
  
 
  
  .silhouet {
    width: 27rem;
    margin-top: auto;
  }
  
  .silhouet img {
    
    width: 100%;
    height: auto;
    margin-bottom: -6.7rem;
    
  }
  
  .login {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    margin-right: 1rem;
  }
 