.header {
    display: flex;
    flex-direction: column;
  }

  .top-section {
    display: flex;
    justify-content: space-between;
    background-color: var(--beige);
    flex-direction: row;
    position: relative;
    min-height: 8rem;

  }
  
  .language {
    display: flex;
    flex-direction: row;
    margin-left: 1rem;
    gap: 10rem;
    align-items: center;
  }
  
  .language a {
    font-family: 'Red Rose', serif;
    font-weight: 300;
    font-size: 1.1rem;
  }
  
  .silhouet {
    width: 27rem;
    margin-top: auto;
  }
  
  .silhouet img {
    width: 100%;
    height: auto;
    margin-bottom: -6.7rem;
    
  }
  
  .login {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    margin-right: 1rem;
    font-family: 'Red Rose', serif;
    font-weight: 300;
    font-size: 1.1rem;
  }
  
  .arrow {
    max-height: 2rem;
  }
  
  .bottom-section {
    background-color: var(--black);
    min-height: 15rem;
    display: flex;
    align-items: center;
}

.bottom-section h1 {
maps_marker
  font-size: 2.25rem;
  color: #AD7851;
  margin: auto auto 4rem;
  font-family: 'Red Rose', serif;
  font-weight: 400;   
    font-size: 2.25rem;
    color: var(--brown);
   margin: auto auto 4rem;
   font-family: 'Red Rose', serif;
    font-weight: 400;
    
main
}



 