.inputContainer {
   margin: 5rem 0rem 3rem 3rem;
}

.searchInfo{
    font-size: 2.33rem;
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 300;
    padding-bottom: 1rem;
}

.inputField {
    padding: 0.6rem;
    width: 25rem;
    font-family: 'Mulish', sans-serif;
    /* font-size: 1rem; */
    font-size: 18px; 
    border-radius: 5px 0 0 5px;
}

.choiceField {
    padding: 0.6rem;
    width: 1rem;
    font-family: 'Mulish', sans-serif;
    /* font-size: 1rem; */
    font-size: 18px;
    border: solid black; 
    border-radius: 0 5px 5px 0;
}

button {
    background-color: var(--brown);
    color: var(--white);
    font-family: 'Red rose', sans-serif;
    font-size: 1rem;
    border-radius: 0.5rem;
    padding: 0.5rem;
    margin-left: 1rem;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.5) 0 4px 2.6px;
}
