.inputContainer {
    margin: 5rem 0rem 3rem 3rem;
    display: flex;
    flex-direction: column;
    padding-inline-end: 3rem;
 }
 
 .inputContainer >* {
     flex-shrink: 1;
 }
 
 .searchInfo{
     font-size: 2.33rem;
     font-family: 'Red Hat Display', sans-serif;
     font-weight: 300;
     padding-bottom: 2rem;
 }
 
   .inputField {
     padding: 0.6rem;
     font-family: 'Mulish', sans-serif;
     /* font-size: 1rem; */
     font-size: 18px;
     border: solid 1px black; 
     border-radius: 5px;
     max-width: 31rem;
 }
 
/* .dropdownSearch {
    padding: 0.6rem;
    width: 1rem;
    font-family: 'Mulish', sans-serif;
    font-size: 18px;
    border: solid black; 
    border-radius: 5px;
    max-width: 31rem;
} */

/* .dropdownSearch {
    padding: 0.6rem;
    width: 1rem;
    font-family: 'Mulish', sans-serif;
    font-size: 18px;
    border: solid black; 
    border-radius: 5px;
    max-width: 31rem;
} */

/* .dropdownSearch {
    padding: 0.6rem;
    font-family: 'Mulish', sans-serif;
    font-size: 18px;
    border: solid black; 
    border-radius: 0 5px 5px 0;
    width: 1rem;
} */

.button {
    background-color: var(--brown);
    color: var(--white);
    font-family: 'Red Rose', sans-serif;
    text-transform: capitalize;
    font-size: 20px;
    box-shadow: 0px 0px 0px 8px rgba(0,0,0,0.3);    
    padding: 1rem;
    width: 74.4rem;
}

@media only screen and (max-width: 768px) {

    .searchInfo {
        font-size: 33px;
    }

    .inputField {
        font-size: 16px;
    }
}

@media only screen and (max-width: 425px) {

    .searchInfo {
        font-size: 28px;
        line-height: 34px;
    }

    .inputContainer {
        margin: 3rem 0rem 3rem 2rem;
        padding-inline-end: 2rem;
    }

    .inputField {
        font-size: 14px;
    }
}

/* @media only screen and (min-width: 1441px) {

.searchInfo {
    font-size: 4.33rem;
    padding: 2rem;
}

.inputField {
    margin: 2rem;
    font-size: 34px;
    max-width: 58rem;
    padding: 1rem;
}
} */
