.inputContainer {

   margin: 5rem 0rem 3rem 3rem;
   display: flex;
   flex-direction: column;
   padding-inline-end: 3rem;
}

.inputContainer >* {
    flex-shrink: 1;
}

.searchInfo{
    font-size: 2.33rem;
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 300;
    padding-bottom: 2rem;
}


.inputField {
    padding: 0.6rem;
    border-radius: 0.5rem;
    border:  0.12rem solid rgba(27, 27, 26, 0.5);
    max-width: 31rem;
    font-family: 'Mulish', sans-serif;
    /* font-size: 1rem; */
    font-size: 18px;
}

.button {
    background-color: AD7851;
    color: var(--white);
    font-family: 'Red Rose', sans-serif;
    text-transform: capitalize;
    font-size: 20px;
    box-shadow: 0px 0px 0px 8px rgba(0,0,0,0.3);    
    padding: 1rem;
    width: 74.4rem;
}

@media only screen and (max-width: 768px) {

    .searchInfo {
        font-size: 33px;
    }

    .inputField {
        font-size: 16px;
    }
}

@media only screen and (max-width: 425px) {

    .inputContainer {
        margin: 3rem 0rem 3rem 2rem;
        padding-inline-end: 2rem;
    }
}