.listHeader{
  font-size: 2.33rem;
  font-family: 'Red Hat Display', sans-serif;
  font-weight: 300;
  padding-bottom: 1rem;
  margin: 5rem 1rem 3rem 3rem;
}

.sortContainer {
display: flex;
flex-direction: row;
justify-content: space-between;
margin: 1rem 5rem 1rem 5rem;
align-items: center;
font-family: 'Red Hat Display', sans-serif;
  font-weight: 300;
}

.sortContainer * {
gap: 1rem;
cursor: pointer;
}

.sortContainer img {
max-height: 2rem;
max-width: 2rem;
}


.dropbtn {
background-color: #4CAF50;
color: white;
padding: 16px;
font-size: 16px;
border: none;
cursor: pointer;
}

.wards {
display: flex;
align-items: center;

}

.wards >*, .dropdown >* {
font-family: 'Red Rose', serif;
font-weight: 300;
font-size: 1.3rem;
text-decoration-line: underline;
text-decoration-thickness: 1px;
text-underline-offset: 2px;
cursor: pointer;
}

.dropdown {
position: relative;
display: inline-flex;
align-items: center;
}

.dropdown-content {
display: none;
position: absolute;
background-color: #fcfaf8;
min-width: 50px;
max-height: 300px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
padding: 2rem;
border-radius: 0.5rem;
}

.dropdown-content button {
max-width: 4rem;
text-decoration: none;
display: block;
margin: 1rem 0;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
display: block;
}

.dropdown:hover .dropbtn {
background-color: #3e8e41;
}

.cardContainer {
  background-color: var(--pink);
  margin: 2rem;
  border-radius: 0.5rem;
  padding: 2rem 0;
}

.cardContainer ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 2rem;
  gap: 2rem;    
}

.card {
padding: 2rem;
border: solid #1b1b1a9e 0.18rem;
border-radius: 0.5rem;
background-color: var(--white);
width: 310px;
height: 530px;
display: flex;
flex-direction: column;
justify-content: space-between; 
}

.headingContainer{
display: flex;
}

.h2 {
  font-size: 1.6rem;
  font-family: 'Red Hat Display', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 37px;
  flex-grow: 2;
  width: 75%;
  height: 6rem;
}
.iconsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-inline-start: 1rem;
}
.emptyHeart, .wholeHeart {
  height: 2.2rem;
  width: 2.8rem;
  padding-block-start: 0.2rem;
}

.pinCard {
  height: 2.6rem;
  width: 1.8rem;
  padding-block-start: 1rem;
}

.info {
padding-block-end: 0.5rem;
height: 7rem;
display: flex;
flex-direction: column;
justify-content: flex-end;
padding-block-end: 1rem;
}

.p {
    font-family: 'Mulish', sans-serif;
    font-size: 1.1rem;
    line-height: 34px;
}

.zoom {
  font-family: 'Red Rose', serif;
  font-weight: 300;
  font-size: 1.3rem;
  text-decoration-line: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 2px;
  cursor: pointer;
  padding-top: 1rem;
}

.picture_url {
width: 100%;
height: 200px;
text-align: center;
margin-block-end: 0.5rem;
}

.picture_url img {
width: 100%;
height: 100%;
border-radius: 0.5rem;
}

/* .info > * {
  padding-bottom: 1rem;
} */

.navigation-arrows {
display: flex;
justify-content: space-between;
align-items: center;
margin: 4rem; 
}

.navigation-arrows * {
cursor: pointer;
}

.pagination {
  display: flex;
  justify-content: center;
  gap: 0.8rem;
  /* text-decoration-line: underline; */
  align-items: center;
}

.pagination >* {
font-family: 'Red Rose', serif;
font-weight: 300;
font-size: 1.3rem;
/* text-decoration-line: underline; */
text-decoration-thickness: 1px;
text-underline-offset: 2px;
cursor: pointer;
}

.underline {
text-decoration: underline;
}

.active {
text-decoration: none !important;
}


/* tablet */

@media only screen and (max-width: 768px) {

.listHeader {
  font-size: 33px;
}

.dropdown >*, .wards >* {
  font-size: 1rem;
}

.cardContainer ul {
  gap: 1.5rem;
}
.card {
  width: 235px;
  height: 410px;
}

.h2 {
padding-block-end: 1rem;
min-height: 78px;
font-size: 20px;
line-height: 30px;
}

.emptyHeart {
  height: 2rem;
  width: 2.5rem;
}

.pinCard {
  height: 2rem;
  width: 1.8rem;
}
.info {
  padding-block-end: 1rem;
  min-height: 96px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.info > * {
  padding-bottom: 0;
}
.p {
  font-size: 16px;
  line-height: 24px;
}

.picture_url {
  height: auto;
}
.picture_url img {
  width: 100%;
  object-fit: fill;
  min-height: 160px;
  max-height: 160px;
}

.zoom {
  font-size: 1rem;
  /* padding-block-end: 1rem; */
}
}

/* mobiili */

@media only screen and (max-width: 425px) {

.listHeader {
  margin: 3rem 2rem 3rem 2rem;
  font-size: 28px;
  line-height: 34px;
}
.sortContainer {
  margin: 1rem 2rem 1rem 2rem;
}

.sortContainer img {
max-height: 28px;
}
.cardContainer {
margin: 0rem;
padding: 0.5rem 0;
border-radius: 0;
width: 100%;
}

.cardContainer ul {
  margin: 1.5rem;
  gap: 1rem;
}

.card {
height: max-content;
padding: 1.5rem;
/* min-width: 160px; */
max-width: 300px;
/* flex-basis: 200px; */
flex-shrink: 0;
}

.headingContainer {
flex-direction: row;
}
.card {
  height: max-content;
  padding: 1.5rem;
  width: 235px;
}

.h2 {
  /* padding-block-end: 1rem;
  min-height: 78px; */
  font-size: 20px;
  line-height: 28px;
  padding-inline-end: 2rem;
}

/* .iconsContainer {
  padding-block-start: 0.3rem;
} */

.emptyHeart {
  height: 1.5rem;
  width: 2.2rem;
}

.pinCard {
  height: 1.8rem;
  width: 1.5rem;
}

.info {
  /* padding-block-end: 1rem; */
  min-height: 88px;
  /* display: flex;
  flex-direction: column;
  justify-content: flex-end; */
}
/* .info > * {
  padding-bottom: 0;
} */
.p {
  font-size: 14px;
  line-height: 22px;
}

.picture_url {
  height: auto;
}
.picture_url img {
  width: 100%;
  object-fit: fill;
  min-height: 125px;
  max-height: 180px;
}

.zoom {
  font-size: 16px;
}

.navigation-arrows {
  margin: 2rem;
}

.navigation-arrows * {
  max-height: 48px;
}  

}

/* @media only screen and (min-width: 1441px) {

.listHeader {
  font-size: 4.33rem;
  padding: 2rem;
}

.wards >*, .dropdown >*, .pagination >* {
  font-size: 2.3rem;
  margin: 2rem;
}

.sortContainer img {
  max-height: none;
  max-width: none;
}

.dropdown img {
  height: 3.5rem;
}

.wards img {
  height: 1.8rem;
}

.dropdown-content {
  padding: 3rem;
  max-height: 380px;
}

.dropdown-content button {
  max-width: 8rem;
  font-size: 2.3rem;
  margin: 2rem 0;
}

.cardContainer {
  margin: 3rem;
}

.cardContainer ul {
  margin: 4rem;
}

.card {
  width: 620px;
  padding: 3rem;
  border: solid #1B1B1A 0.22rem
}

.h2 {
  min-height: 200px;
  font-size: 2.8rem;
  line-height: 60px;
}

.info {
  height: 18rem;
  padding-block-end: 2rem;
}
.info >* {
  padding-bottom: 0;
}

.p {
  font-size: 34px;
  line-height: 56px;
}

.picture_url {
  height: auto;
  padding-block-end: 2rem;
}
.picture_url img {
  height: 390px;
  min-height: unset;
  max-height: unset;
}

.zoom {
  font-size: 2.3rem;
}


.navigation-arrows img {
  height: 6rem;
}
}
