.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    overflow: auto; 

  }

  
  .popup {
    background: #F1EDE7;
    border-radius: 0.5rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.8);
    position: relative;
    align-items: center;
    justify-content: center;
    padding: 6rem 5rem;
    position: fixed;
    top: 6%;
    bottom: 6%;
    height: 60%;
    overflow: auto; /* Add this line */
    max-height: calc(100% - 12%); /* Adjust this value as needed */
}

  .loginContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    /* overflow-y: auto; */
}

.LoginInputFieldsContainer {
      display: flex;
      flex-direction: column;
      justify-content: center;
}

  .loginHeader {
    margin-bottom: 4rem;
    font-size: 2.33rem;
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 300;
  }

   
  .inputFieldLogin {
    max-width: none;
    display: flex;
    min-width: 22rem;
  }

 .inputsLogin {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
  gap: 1rem;
  margin: 0 0 1rem;
  font-family: 'Mulish', sans-serif;
  font-size: 1rem;
 }

 .loginCenter {
    display: flex;
    justify-content: center;
    width: 100%;
 }


 .show-password-btn {
  font-family: 'Mulish', sans-serif;
  padding-block-end: 2rem;
 }
 .passwordChecklist {
  font-family: 'Mulish', sans-serif;
 }

 .buttonLogin {
  margin: 2rem 0 4rem;
  width: 15rem;
  margin-left: 1rem;
 }

 .buttonCreateUser {
  margin-block-start: 3rem;
 }

 .newUser {
    display: flex;
    justify-content: center;
    gap: 1rem;
    font-family: 'Mulish', sans-serif;
 }
 .newUser a {
    font-family: 'Red Rose', serif;
    font-weight: 300;
    font-size: 1.1rem;
    color: #1b1b1a;
 }
  
  .close {
    position: absolute;
    top: 2rem;
    right: 2rem;
    
    cursor: pointer;
  }
  
  .close img {
    max-width: 1.5rem;
    max-height: 1.5rem;
  }

  .login-input-submit {
    background-color: var(--brown);
    color: var(--white);
    font-family: 'Red rose', sans-serif;
    border-radius: 0.5rem;
    padding: 0.5rem;
    margin-left: 1rem;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.5) 0 4px 2.6px;
    margin: 2rem 0 4rem;
    width: 15rem;
  }

  .login-input-submit:hover {
    background-color: rgb(188, 22, 22);
  }

  .login-error-message {
    color: rgb(188, 22, 22);
    text-align: center;
    font-size: 1.2rem;
    max-width: 265px;
    margin: auto;
  }

  .user-registered-success {
    color:  #1b1b1a;
    text-align: center;
    font-size: 1.6rem;
    max-width: 265px;
    margin: auto;
    padding-top: 1rem;
    font-family: 'Mulish', sans-serif;
  }


  .valid, .invalid {
    /* font-size: 0.9rem; */
    padding-block-start: 0.5rem;
    padding-inline-start: 9rem;
  }

  .invalid * {
    padding-inline-start: 0.5rem;
    fill: rgb(188, 22, 22);
  }

 
  .show-password-btn {
    display: flex;
    justify-content: end;
    align-items: center;
  }

  .forgot-password-link {
    display: flex;
    justify-content: center;
    gap: 1rem;
    font-family: 'Mulish', sans-serif;
    padding-block: 1rem;
  }

  .forgot-password-link >* {
    color: #1b1b1a;
  }

 .link33 {
  font-family: 'Red Rose', serif;
    font-weight: 300;
    font-size: 1.1rem;
 }


  @media only screen and (max-width: 425px) {

    .popup {
      padding: 4rem 1rem;
      flex-basis: 40rem;
      margin: 2rem;
    }

    .close {
      top: 1rem;
      right: 1rem;
    }

    .loginHeader {
      margin: 0 0 3rem;
      font-size: 28px;
    }
    .inputsLogin {
      flex-direction: column;
    }

    .inputsLogin >* {
      font-size: 14px;
    }

    .inputFieldLogin {
      min-width: 14rem;
  }

    .newUser {
      flex-direction: column;
      text-align: center;
      font-size: 14px;
    }

    .newUser span {
      margin-block-end: 0.5rem;
    }

    .show-password-btn {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-inline-start: 6rem;
  }

  .valid, .invalid {
    font-size: 0.9rem;
    padding-inline-end: 0.5rem;
    padding-inline-start: 0rem;
  }


    .buttonLogin {
      margin: 0 0 2rem;
      font-size: 15px;
      width: 11rem;
      margin: 2rem 0 3rem;
    }

    .forgot-password-link {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-block-start: 2rem;
    }
  }

  /* @media only screen and (min-width: 1441px) {

    .popup {
      padding: 8rem;
    }
    .close {
      top: 4rem;
      right: 4rem;
    }

    .close img {
      height: 3rem;
      max-width: none;
      max-height: none;
    }

    .loginHeader {
      font-size: 4.33rem;
      margin-bottom: 8rem;
    }

    .inputsLogin {
      width: 76rem;
    }

    .inputsLogin >* {
      font-size: 38px;
      line-height: 22px;
    }

    .inputFieldLogin {
      min-width: 47.5rem;
    }

    .buttonLogin {
      font-size: 2.3rem;
      width: 27rem;
      margin: 3rem 0 8rem;
    }

    .newUser span {
      font-size: 38px;
      padding: 1rem;
    }
    .newUser a {
      font-size: 2.3rem;
      padding: 1rem;
    }
  } */