.mapContainer {
  background-color: var(--pink);
  padding: 3rem;
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.map {
  flex: 2; /* 2/3 of the width */
  height: 594px;
  border: solid #1b1b1a9e 0.18rem;
  border-radius: 0.5rem;
}

.InfoWindows {
  flex: 1; /* 1/3 of the width */
}

.weather-info {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}

.weather-info p {
  font-family: 'Red Rose', serif;
  font-weight: 300;
  font-size: 1.3rem; 
  padding-right: 0.5rem;
}

.weather-info img {
  width: 4rem; /* Adjust the width of the image as desired */
  height: auto; /* Maintain aspect ratio */
}