.mapContainer {
  background-color: var(--pink);
  padding: 3rem;
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.map {
  flex: 2; /* 2/3 of the width */
  height: 594px;
  /* margin-right: 1rem;  */
  border: solid #1b1b1a9e  0.18rem;
  border-radius: 0.5rem;
}

.emptyWindow {
  /* flex: 1; */
  border: solid #1b1b1a9e  0.18rem;
  border-radius: 0.5rem;
  padding: 2rem;
  background-color: #FCFAF8;;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  grid-auto-rows: 170px; /* Adjust the height of the rows as needed */
  gap: 10px; /* Adjust the gap between images as needed */
  width: 345px;
  height: 530px;
}

.picture_map {
  width: 100%;
  height: 100%;
  text-align: center;
  border-radius: 0.5rem;
  overflow: hidden;
  /* box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.8); */
}

.picture_map img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.5rem;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.8);
}

.mapCardContainer {
  position: relative; /* This makes it a reference for absolutely positioned children */
}

.mapCard {
  padding: 3rem 3rem;
  border: solid #1B1B1A 0.18rem;
  border-radius: 0.5rem;
  background-color: var(--white);
  width: 300px;
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
}

.closeIcon {
  position: absolute; /* Position relative to .mapCardContainer */
  top: 0; /* Align to the top of .mapCardContainer */
  right: 0; /* Align to the right of .mapCardContainer */
  cursor: pointer; /* Optional: Changes the cursor to a pointer to indicate it's clickable */
  padding: 2rem;
}
.map_picture_url {
  position: relative; /* Ensure positioning context */
  width: 100%; /* Set width to 100% of the container */
  height: 100%; /* Set height to 100% of the container */
  overflow: hidden; /* Hide any overflow */
}

.map_picture_url img {
  width: 100%; /* Make the image fill the entire width of the container */
  height: 100%; /* Make the image fill the entire height of the container */
  object-fit: cover; /* Ensure the image covers the entire container */
  border-radius: 0.5rem;
}

/* Media query for screen width 1320px or more */
@media screen and (max-width: 768px) {

  .mapContainer {
    gap: 1.5rem;
  }
  .map {
    height: 464px;
  }
  .emptyWindow {
    gap: 10px; /* Gap between images */
      grid-template-columns: repeat(auto-fill, minmax(120px, 1fr)); 
      grid-auto-rows: 90px; 
      width: 235px;
      height: 400px;
    }
  

  .picture_map img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.5rem;
}
}

@media only screen and (max-width: 425px) {
  .mapContainer {
    flex-direction: column;
    align-items: center;
    height: 980px;
  }  
  
  .map {
      margin: 0.5rem;
      width: 299px;
      height: 400px;
    }

    .emptyWindow {
      width: 235px;
      height: 400px;
      grid-template-columns: repeat(auto-fill, minmax(100px, 1fr)); 
      grid-auto-rows: 90px; 
    }
}

@media only screen and (min-width: 1441px) {

    .mapContainer {
        padding: 3rem;
        height: 78rem;
    }

    .map {
        height: 74rem;
        border: solid #1b1b1a9e  0.22rem;
    }
  }
}
