.mapContainer {
  background-color: var(--pink);
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}

.map {
  flex: 2; /* 2/3 of the width */
  height: 40rem;
  margin-right: 1rem; /* Add margin between map and info window */
  border: solid #1B1B1A 0.18rem;
  border-radius: 0.5rem;
}

.emptyWindow {
  flex: 1;
  border: solid #1B1B1A 0.18rem;
  border-radius: 0.5rem;
  padding: 1rem;
  background-color: #efe6da;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Adjust the width of the columns as needed */
  grid-auto-rows: 200px; /* Adjust the height of the rows as needed */
  gap: 10px; /* Adjust the gap between images as needed */
}

.picture_map {
  width: 100%;
  height: 100%; /* Adjust the height of the images container */
  text-align: center;
  border-radius: 0.8rem; /* Apply border radius to each image container */
  overflow: hidden; /* Hide overflow to prevent images from extending beyond the container */
}

.picture_map img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensure the image covers the entire container */
}
/* Media query for screen width 1320px or more */
@media screen and (min-width: 1320px) {
  .emptyWindow {
    grid-template-columns: repeat(2, 1fr); /* 3 columns for six images */
    grid-auto-rows: minmax(100px, 50%); /* Height 80% for images */
    gap: 10px; /* Gap between images */
  }

  .picture_map img {
    width: 100%; /* Width 80% for images */
    height: 90%; /* Height 80% for images */
    object-fit: cover; /* Ensure the image covers the entire container */
  }
}