#root {
    height: 100vh;
}

.reset-password-wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.reset-password-container {
    /* background-color: white; */
    min-height: 500px;
    max-height: 700px;
    width: 94%;
    padding: 0.5rem;
    border-radius: 1rem;
    
}

.reset-password-form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex: 1 1 100%;
}

.reset-password-form label {
    font-size: 1.4rem;
    margin-block: 1rem;
    font-family: 'Mulish', sans-serif;

}

.reset-password-form input {
    height: 40px;
    border: 1px solid black;
    font-size: 1.2rem;
    border-radius: 0.5rem;
    padding-inline-start: 1rem;
}

.buttonContainer {
    display: flex;
    justify-content: center;
    margin-block-start: 3rem;
}

.invalid * {
    font-family: 'Mulish', sans-serif;
}

.reset-password-button {
    /* border: none;
    box-shadow: none;
    border-radius: 1rem;
    width: 100%;
    margin-block-start: 2.5rem;
    background-color: #ECAF60;
    font-size: 1.6rem;
    box-shadow: 10px 5px 5px rgb(197, 194, 194);
    padding: 0.8rem 1rem;
    color: black; */

    background-color: var(--brown);
    color: var(--white);
    font-family: 'Red rose', sans-serif;
    border-radius: 0.5rem;
    padding: 0.5em;
    /* margin-left: 1rem; */
    border: none;
    box-shadow: rgba(0, 0, 0, 0.5) 0 4px 2.6px;
    text-transform: uppercase;
    font-size: 1.5rem;
    width: 10rem;
}

.back-to-home {
    /* font-size: 2rem;
    text-decoration: none;
    padding: 1.2rem 1rem;
    background-color: black;
    color: white;
    border-radius: 1rem; */
    margin-block-end: 3.2rem;

    text-transform: uppercase;
    font-family: 'Red Rose', serif;
    font-weight: 300;
    font-size: 1.3rem;
    text-decoration-line: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 2px;
    cursor: pointer;
    padding: 0.8rem 0.8rem;
    /* background-color: #1b1b1a; */
    color: #1b1b1a;
    border-radius: 1rem;
}

@media only screen and (min-width: 500px) {
    .reset-password-container {
        width: 70%;
        padding: 2rem;
        
    }
    
}

@media only screen and (min-width: 900px) {
    .reset-password-container {
        width: 60%;
        padding: 2rem;
        
    }
    
}

@media only screen and (min-width: 1200px) {
    .reset-password-container {
        width: 50%;
        padding: 2rem;
        
    }
    
}

@media only screen and (min-width: 1500px) {
    .reset-password-container {
        width: 40%;
        padding: 2rem;
        
    }
    
}

@media only screen and (min-width: 1800px) {
    .reset-password-container {
        width: 30%;
        padding: 2rem;
        
    }
    
}